.container-fluid.footer.p-5
  .row
    .col-md-2
      h5 Open Terpmatch
    .col-md-8
    .col-md-2
      div
        a(href="/") Home
      div
        a(href="/about") About
      div
        a(href="/privacy") Privacy Policy