extends base.pug

block feature
  .feature-img.about.container-fluid.d-flex.flex-column.justify-content-center.align-items-center
    strong.feature-text(style={"text-align": "center", "animation": "fade-in-ani 1s forwards 0.0s", "opacity": "0"}) About

block content
  .about-content.my-5
    :markdown-it(linkify langPrefix='highlight-')

      ## What is this?
      
      Open Terpmatch is an open-source re-creation of Brandon Ferrell's original University of Maryland matching site,
      Terpmatch. The main goal of the project is to keep Terpmatch as a platform accessible and open by
      allowing anyone in the future to re-deploy this site as well as contribute to its development.
  
      ## How does this work?

      On Open Terpmatch, you are able to **crush** on someone by adding their directory ID to
      a list of your crushes without notifying any of them. If one of your crushes has an account and also
      crushes on you, both of you will **match** and be able to see each other listed
      under your respective matches.

      ## How do I find my crush's directory ID?

      If you know the name of your crush, the easiest way to find their directory ID is to look it up through
      [UMD's directory](https://identity.umd.edu/search).

      ## How do I know who is crushing on me?
      
      You are not able to know the names of the people who are crushing on you until you match with any of them.
      However, it is possible to see the number of people crushing on you, indicated by the **heart counter**
      on the navigation bar.

      ## What do I do once I match?

      A match will be displayed on the dashboard once one occurs and Open Terpmatch will also attempt to notify both you and
      your crush upon detecting a match. Once this happens, you should probably find a way to contact your crush.

      ⚠️**IMPORTANT**: If you have already matched with someone and are happily in a relationship, you should close your
      Open Terpmatch account or remove all crushes in order to avoid accidentally matching with additional people.

      ## What do I do if I get multiple matches?

      Open Terpmatch will notify both parties of all matches gotten regardless of whether either user has already
      matched with someone else in the past. This can be avoided if you close your account or remove all crushes
      after making your first match.

      ## How do I update my contact information?

      Your contact information can be edited by going to the [edit profile page](/editProfile).

      ## I can't log in.

      Login is provided by UMD's central authentication service. Unfortunately, if you do not have an account with UMD, you
      will not be able to use Open Terpmatch.

      ## Can you stop sending me notifications?

      Notification settings can be set by going to the [settings page](/settings). We will also stop notifying you
      if you remove your email or SMS number from your profile.

      ## Is my account secure?

      Your Open Terpmatch account is protected by UMD's login system. We only store information about crushes and
      contact information for users.

      ## How can I contribute to the project?

      Open Terpmatch is sourced under the MIT license and the codebase is hosted on GitHub. If you are interested in making a
      contribution, read through our contribution guidelines and make a pull request!

      ## Can I modify and deploy this site by myself?

      Yes! Anyone can modify and deploy their own version of Open Terpmatch. Re-skin the aesthetics. Remove the emojis.
      Change the login system to be compatible with another university's. Turn it into TerpNemesis™, a place to meet enemies.
      Anything is possible! Take a look at our [setup documentation](https://github.com/jasmaa/open-terpmatch/blob/master/docs/SETUP.md)
      for more details.

      ## I found a bug.

      Please log an issue on GitHub or the feedback form. We would also really appreciate a pull request if you
      find a fix!

      ## I have a question/complaint.

      Contact us on GitHub or via the feedback form.

      ## Can I crush on Dr. XYZ who is in a happy monogamous relationship?

      Yes but why.

      ## Get rid of those cringey emojis.
      
      Uh lol no 😂.