extends base.pug

block content
  .card
    .card-body

      if errorMessage
        .alert.alert-danger #{errorMessage}

      form(action='/createAccount', method='POST')
        .form-group
          label Name
          input.form-control(type='text', name='name', value='')
        .form-group
          label Email (optional)
          input.form-control(type='email', name='email', value='')
        .text-right
          input.btn.btn-primary(type='submit', value='Submit')