extends base.pug

block content
  form(action='/createAccount', method='POST')
    | Name:
    input(type='text', name='name', value='')
    | Tagline
    input(type='text', name='tagline', value='')
    input(type='submit', value='Submit')