extends base.pug

block content
  .card.my-5
    .card-body
    
      if errorMessage
        .alert.alert-danger #{errorMessage}

      form(action='/createAccount', method='POST')
        .form-group
          label Name
          input.form-control(type='text', name='name', value='', placeholder='Enter full name')
        .form-group
          label Email (optional)
          input.form-control(type='email', name='email', value='', placeholder='Enter email address')
        .text-right
          input.btn.btn-outline-primary(type='submit', value='Submit')