extends base.pug

block content
  .card.my-5
    .card-body
      form(action="/createAccount", method="POST")
        .form-group
          label Name
          input.form-control(type="text", name="name", placeholder="Enter full name")
        .form-group
          label Email (optional)
          input.form-control(type="email", name="email", placeholder="user@example.com")
        .form-group
          label Phone (optional)
          input.form-control(type="tel", name="phone", pattern="\\d{10}", placeholder="0123456789")
        .text-right
          input.btn.btn-outline-primary(type="submit", value="Submit")