extends base.pug

block content

  .card.my-5
    .card-body
      
      h3 Matches

      if user.matches.length > 0
        ul.list-group.list-group-flush.mt-4
          each name in user.matches
            li.list-group-item.d-flex.justify-content-between.align-items-center
              div.d-flex.align-items-center
                .pulse.mr-3 ðŸ˜
                span
                  span Matched with 
                  strong #{name}
                  span !
      else
        em No matches

  .card.my-5
    .card-body
      h3 Crushes
    
      form.d-flex.align-items-center.my-4(action="/addCrush", method="POST")
        input.form-control.mr-2(name="crushUID", placeholder="Enter crush's directory ID")
        button.btn.btn-sm.icon-btn(type='submit', value='+ Add Crush')
          i.fa.fa-plus

      if user.crushes.length > 0
        ul.list-group.list-group-flush
          each name in user.crushes
            li.list-group-item.d-flex.justify-content-between.align-items-center
              span #{name}
              form(action="/deleteCrush", method="POST")
                input(type="hidden", name="crushUID", value=name)
                button.btn.btn-sm.icon-btn(type='submit')
                  i.fa.fa-minus
      else
        em No crushes