extends base.pug

block content
  .card.my-5
    .card-body

      if errorMessage
        .alert.alert-danger #{errorMessage}

      form(action='/editProfile', method='POST')
        .form-group
          label Email (optional)
          input.form-control(type='email', name='email', value=user.email)
        .text-right
          input.btn.btn-primary.mr-1(type='submit', value='Save')
          a.btn.btn-secondary(href='/profile') Cancel