extends base.pug

block feature

  .feature-img.home.container-fluid.d-flex.flex-column.justify-content-center.align-items-center
    strong.feature-text(style={"text-align": "center", "animation": "fade-in-ani 1s forwards 0.0s", "opacity": "0"}) Welcome to Open Terpmatch!
    p.feature-sub-text.my-3(style={"text-align": "center", "animation": "fade-in-ani 1s forwards 0.1s", "opacity": "0"}) Anonymously crush and match with others at the University of Maryland
    a.btn.btn-primary.btn-lg.my-5(href="/umd/login" style={"animation": "fade-in-ani 1s forwards 0.2s", "opacity": "0"}) Get Started Today!

  .container-fluid.my-3
    .row
      .col-sm.p-3
        .card.w-100.h-100(style={"font-size": "1.2em", "width": "30%", "animation": "fade-in-bt-ani 1s forwards 0.0s", "opacity": "0"})
          .card-body
            h2.mb-5
              i.fa.fa-laptop.mr-3
              span Fully Featured
            p Open Terpmatch does everything the original Terpmatch did plus more!
            p New features include:
            ul
              li Login via UMD single sign-on
              li Email and SMS notification on match
              li Mobile compatibility in mind

      .col-sm.py-3
        .card.w-100.h-100(style={"font-size": "1.2em", "width": "30%", "animation": "fade-in-bt-ani 1s forwards 0.2s", "opacity": "0"})
          .card-body
            h2.mb-5
              i.fa.fa-code.mr-3
              span Open Source
            p Open Terpmatch is open-sourced under the MIT license. We are commited to keeping Terpmatch accessible as a platform.

      .col-sm.p-3
        .card.w-100.h-100(style={"font-size": "1.2em", "width": "30%", "animation": "fade-in-bt-ani 1s forwards 0.4s", "opacity": "0"})
          .card-body
            h2.mb-5
              i.fa.fa-question.mr-3
              span FAQ
            span
              span Have any questions about Open Terpmatch? Check out the about page's 
              a(href="/about") FAQ
              span !