extends base.pug

block content
  .card
    .card-body
      .d-flex.flex-column.align-items-end
        a.btn.icon-btn(href="/editProfile")
          i.fa.fa-pencil
      .d-flex.flex-column.align-items-center
        h1 #{user.name}
      h3 #{user.uid}
      h3 #{user.email}