body {
    background-color: #222222;
    color: white;
}

nav.navbar {
    background-color: #990000;
}
.navbar-brand {
    outline: none;
}
.nav-link {
    outline: none;
    border: none; 
}

.card {
    background-color: #444444;
    border-radius: 1em;
}

.form-control {
    background-color: #333333;
    border: none;
    color: white;
    border-radius: 1em;
}
.form-control:focus {
    background-color: #333333;
    color: white;
}

.list-group {
    border-radius: 1em;
}
.list-group-item {
    background-color: #666666;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}
.login-btn {
    color: white;
    border-color: white;
}
.login-btn:hover {
    color: #aaaaaa;
    border-color: #aaaaaa;
    background-color: rgba(0, 0, 0, 0.1);
}

.icon-btn {
    border-radius: 50%;
    background-color: #333333;
    color: white;
}
.icon-btn:hover {
    background-color: #555555;
    color: white;
}

.profile-img { 
    border-radius: 50%;
}

.crush-counter {
    padding: 0.3em;
    border-radius: 0.5em;
    background-color: white;
    font-weight: bold;
    user-select: none;
    color: gray;
}
.crush-counter.active {
    color: red;
}

.pulse {
    animation: heart-pulse 0.9s infinite ease-out;
}
@keyframes heart-pulse {
    0% {
      transform: scale(0.8);
    }
    50% {
      transform: scale(1.2);
    }
    70% {
      transform: scale(0.95);
    }
    100% {
      transform: scale(0.8);
    }
}

.home-img {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/images/home.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 30em;
    user-select: none;
}